<!DOCTYPE html>
<html lang="en">
    <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <head>
      {%- block site_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page and page.is_homepage %}<meta name="description" content="{{ config['site_description'] }}">{% endif %}
        {% if config.site_keyword %}<meta name="keyword" content="{{ config.site_keyword }}">{% endif %}
        {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
        {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
        {% if config.site_favicon %}<link rel="shortcut icon" href="{{ config.site_favicon|url }}">
        {% else %}<link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}">{% endif %}
      {%- endblock %}

      {%- block htmltitle %}
        <title>{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
      {%- endblock %}
        <link rel="stylesheet" href="{{ 'css/theme.css'|url }}">
        {%- if config.theme.highlightjs %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/{{ config.theme.hljs_style }}.min.css">
        {%- endif %}
        <script src="{{ 'js/theme.js'|url }}" defer></script>
      {% for path in config.extra_css %}
        <link href="{{ path|url }}" rel="stylesheet">
      {% endfor %}

      {%- block scripts %}
        <script> var base_url = {{ base_url | tojson | safe }} </script>
        {%- for path in config['extra_javascript'] %}
        <script src="{{ path|url }}" defer></script>
        {%- endfor %}
      {%- endblock %}
      {% if config.google_analytics %}
          <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              ga('create', '{{ config.google_analytics[0] }}', '{{ config.google_analytics[1] }}');
              ga('send', 'pageview');
          </script>
      {% endif %}
    {%- block libs %}
        {%- if config.theme.highlightjs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        {%- endif %}
    {%- endblock %}

</head>
<body>
    <header class="header">
        <a id="nav-toggle" class="pizza">&#9776;</a>
        <div class="title">
            <a href="/" class="logo">{{ config.site_name }} </a>
             {% if config.badge %}
                <img alt="GitHub" src="https://flat.badgen.net/github/license/{{config.badge.github_user}}/{{config.badge.github_repo}}">
                <a href="https://github.com/{{config.badge.github_user}}/{{config.badge.github_repo}}" target="_blank">
                <img alt="GitHub stars" src="https://img.shields.io/github/stars/{{config.badge.github_user}}/{{config.badge.github_repo}}?style=social" class="stars">
                </a>
            {% endif %}
            <div role="search" class="search">
                <form><input type="search" placeholder="Search docs" id="mkdocs-search-query" /></form>
            </div>
        </div>
         <a id="nav-scrh" class="scrh">&#8981;</a>
    </header>
    <div class="side" id="side">
        <h2>Page</h2>
        <ul>
         {% for nav_item in nav %}
              {% include "nav.html" %}
         {% endfor %}
        </ul>
          <h2>Table Of Contents</h2>
          <ul id="toc" class="current">
            {% for toc_item in page.toc %}
              <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
              {% for toc_item in toc_item.children %}
                  <li class="child"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
              {% endfor %}
            {% endfor %}
        </ul>
        <div class="about">
            <hr/>
            Built with 🛠 <a href="https://www.mkdocs.org">MkDocs</a> - 
            Theme 🖤 <a href="https://github.com/g3xx/mkdocs-github">Github</a>.
        </div>
    </div>
    <div class="spacer"><!-- i am margin --></div>
    <div class="markdown-body">
      {% if page.next_page or page.previous_page %}
        <div class="prev">
          {% if page.previous_page %}
            <a href="{{ page.previous_page.url|url }}" title="{{ page.previous_page.title }}">&#8592; Previous Page</a>
          {% else %}
            &#8592; Previous Page
          {% endif %}
        </div>
         <div class="next">
          {% if page.next_page %}
        <a href="{{ page.next_page.url|url }}" title="{{ page.next_page.title }}"/>Next Page &#8594;</a>
          {% else %}
            Next Page &#8594;
          {% endif %}
        </div>
      {% endif %}
      <div class="clear"></div>
    <div id="mkdocs-search-results"></div>

      {% block content %}
        <div id="body">
            {{ page.content }}
        </div>
      {% endblock %}
      <hr/>
  <!--
  MkDocs version      : {{ mkdocs_version }}
  Docs Build Date UTC : {{ build_date_utc }}
  -->
</div>
</body>
</html>